header{
  background:var(--dark);
  box-shadow: 0px 0px 20px rgba(0,0,0,0.25);
  height:100px;
  width:100vw;
  z-index: 500;
  position:relative;

  /* Responsiveness of nav */
  @media #{$device-md} {
    height: 70px;
  }

  @media #{$device-sm} {
    height: 60px;
  }
}

#main {
  overflow-y: hidden !important;
}

.menu-nav-container {
  height: 100%;
}

.top-menu{
  list-style-type:none;
  display:flex;
  height:100%;

  li{
    margin-left:2rem;
    font-size:1.25rem;
    position:relative;
    cursor:pointer;
    height:100%;
    display:flex;
    align-items:center;

    a{
      color:var(--white);
      transition: all 0.3s var(--anim-primary);
    }
  }

}


.header__wrapper{
  display:flex;
  justify-content: space-between;
  height:100%;
  align-items:center;

  .burgers{
    display:none;
    cursor:pointer;
    margin-top:0.33rem;
  }

}

 .header--sticky {
   position: sticky;
   z-index: 500;
   top: 0;
 }

.menu-overlay{
  display:none;
}

/* Base size of Logo */
.header__logo-img {
 width:200px;
}