@media #{$device-sm}{

  .header__wrapper{
    padding: 0 2rem;
  }
 .burgers{
  display:block !important;
 }

 .menu-nav-container{
  position:absolute;
  right:0px;
  height:100vh;
  top:0;
  background:var(--dark);
  width:60%;
  transform: translateX(100%);
  z-index:5000;
  transition: all 0.3s var(--anim-primary);
  margin:0 -2rem;
  
  .top-menu{
   display:flex;
   flex-direction: column;
   margin-top:20px;
   
   li{
    margin: 0 1rem;
    text-align: left;
    height:auto;
    display:block;
    font-size:1rem;
    
      &:not(:last-of-type) {
        border-bottom: 2px solid var(--white);
      }
   }

  }
 }

 .menu-overlay{
  position: fixed;
  top: 0;
  bottom: 0;
  width: 100%;
  z-index: 4000;
  background: rgba(0, 0, 0, 0);
  visibility: hidden;
  pointer-events: none;
  display:block;
  margin:0 -2rem;
 }

 /* Show effect of Menu */
 .menu-overlay--show{
   visibility: visible;
   background: rgba(0, 0, 0, 0.5);
   pointer-events: auto;
   cursor:pointer;
 }

 .menu--show{
   transform: translateX(0);
 }

}

@media #{$device-md} {
  .header__wrapper {
    padding: 0 2rem;
  }

  .header__logo-img {
    width: 17vw;
    min-width: 100px;
  }
}

