header{
  background:$dark;
  box-shadow: 0px 0px 20px rgba(0,0,0,0.25);
  height:100px;
}

body{
  overflow-x:hidden;
}


.top-menu{
  list-style-type:none;
  display:flex;

  li{
    margin-left:2rem;
    font-size:1.25rem;

    a{
      color:$white;
    }
  }

}


.header__wrapper{
  display:flex;
  justify-content: space-between;
  height:100%;
  align-items:center;

  .burgers{
    display:none;
    cursor:pointer;
  }

}

 .header--sticky {
   position: sticky;
   z-index: 500;
   top: 0;
 }

.menu-overlay{
  display:none;
}